<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über Uns - EasyBuis Task Manager</title>
    <link rel="stylesheet" href="/static/ueber-uns.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>
<body>

       <!-- Navigation -->
       {% include 'nav.html' %}

    <header>
        <h1>Über Uns</h1>
    </header>
    <main>
        <h2 class="welcome-title">Willkommen bei MindMesh</h2> <br> <br>
        Wir sind <strong>MindMesh</strong> – Ihr Partner für innovative Konzeptentwicklung

        In einer Welt, die sich ständig verändert und in der Effizienz und Struktur entscheidend für den Erfolg eines Unternehmens sind, bieten wir maßgeschneiderte Lösungen, die Ihre Prozesse optimieren und Ihre Ideen in klare, umsetzbare Konzepte verwandeln. <br>
            <br>
        Unser Team aus Experten für digitale Prozessoptimierung und künstliche Intelligenz hat es sich zur Aufgabe gemacht, Unternehmen mit intelligenten, effizienten und einfach bedienbaren Anwendungen zu unterstützen. Ganz gleich, ob es um die Strukturierung komplexer Projekte, das Management täglicher Aufgaben oder die Entwicklung neuer Geschäftsstrategien geht – wir liefern Ihnen das passende Werkzeug. <br><br>
        Mit unseren <strong>personalisierten Softwarelösungen</strong> können Sie Ihre Arbeitsprozesse automatisieren, Abläufe optimieren und somit wertvolle Ressourcen sparen. <br><br>
        Dafür bieten wir Ihnen einen <strong>intelligenten Chatbot</strong>, der Sie aktiv bei der Strukturierung und Umsetzung Ihrer Konzepte unterstützt <br>
        <br>
        Lassen Sie uns gemeinsam die Zukunft Ihrer Geschäftsideen gestalten – effizient, intelligent und zielgerichtet! 
        </p>
        <br>
        <p>
            Falls Sie Interesse daran haben, eine maßgeschneiderte Anwendung für Ihre Projekte zu erwerben. Füllen Sie doch gerne unseren Kontaktbogen <a href="/kontakt">Hier</a> aus. 
        </p>

    </main>
    <footer>
        <a href="/">Zurück zur Startseite</a>
    </footer>
</body>
</html>
